<aside class="span-8 first" id="CompanyList">
A partial client listing includes:
  <ul>
    <li>Becks Prime Restaurants</li>
    <li>Collings Guitars</li>
    <li>Cordúa Restaurants</li>
    <li>the Galleria</li>
    <li>Hilcorp Energy Company</li>
    <li>Hines</li>
    <li>Kellogg Brown &amp; Root</li>
    <li>Oil &amp; Gas Journal</li>
    <li>Reliant Energy </li>
    <li>Scott &amp; White Memorial Hospital</li>
    <li>Scott &amp; White Health Plan</li>
    <li>Smith International</li>
    <li>St. Luke’s Episcopal Hospital</li>
    <li>Vinson &amp; Elkins</li>
    <li>Weatherford International</li>
  </ul>
</aside>

<article class="span-16 last" id="Profile">
  <p>
    Established in 1982 Lance Brown Design provides clients with design, writing and marketing services that are intelligent, creative and effective.
  </p>

  <p>
    Creating work that is stylish and engaging the firm’s experience includes the design and production of annual reports, corporate identity programs, <a href="taglines.htm">company taglines</a>, brochures, electronic media and print advertising.
  </p>

  <p>
    Lance’s work has been recognized for its design excellence by The Art Directors Club of New York, Communication Arts Magazine, Print Magazine, and a variety of other professional organizations. Lance is a former director and past president of the American Institute of Graphic Arts/Texas.
  </p>

  <ul id="ContactInfo">
    <li>Lance Brown Design</li>
    <li>Houston, Texas</li>
    <li>(713) 858-1967</li>
  </ul>
</article>
