<!DOCTYPE html>
<html>
  <head>
    <title>Lance Brown Design</title>
    <%= render 'shared/includes' %>
  </head>
  <body>
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
