<!DOCTYPE html>
<html>
  <head>
    <title>Lance Brown Design</title>
    <%= render 'shared/includes' %>
  </head>
  <body>
    <div class="container">
    <% if Rails.env.development? %>
      <div class="notice span-24 first last">
        <%= debug(params) if Rails.env.development? %>
      </div>
    <% end %>
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
